serverFolder/config.py
esp32Folder/config.h
esp8266Folder/config.h

serverFolder/sensor_data.json
serverFolder/records/
serverFolder/answers/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

env/
.env
*.env

.vscode/

.DS_Store
Thumbs.db
desktop.ini
